@font-face {
    font-family: 'seasideresortnfregular';
    src: url('/assets/seasrn__-webfont.eot');
    src: url('/assets/seasrn__-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/seasrn__-webfont.woff2') format('woff2'),
         url('/assets/seasrn__-webfont.woff') format('woff'),
         url('/assets/seasrn__-webfont.ttf') format('truetype'),
         url('assets/seasrn__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}